<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <title>To Do Manager</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/js/methods.js"></script>
</head>
<body class="mr-auto">
  <div class="todo-container grid grid-cols-1">
    <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <form action="/todos" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="flex gap-2 py-4">
                <div class="flex-auto w-64">
                    <input type="text" name="title" class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2" placeholder="what's next?" autofocus required >
                </div>
                <div class="flex-auto w-32">
                    <input type="date" name="dueDate" class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2 leading-4 ">
                </div>
                <div class="flex-none">
                    <button type="submit" class="text-white bg-green-600 hover:bg-green-700 font-medium rounded text-sm px-5 py-2 mr-2 mb-2">Add</button>
                </div>
            </div>
        </form>
        <div>
            <!-- Update the includes in index.ejs with <%- %>-->
            <%- include('todos.ejs', {title: "Overdue" , data: Overdue }) %>
            <%- include('todos.ejs', {title: "Due Today" , data: dueToday }) %>
            <%- include('todos.ejs', {title: "Due Later" , data: dueLater }) %>
            <%- include('todos.ejs', {title: "Completed Items" , data: completedTodos }) %>
        </div>
        <%- include('footer.ejs') %>
    </div>
</div>
      

</body>
</html>